h2, .versalita {
    font-variant: small-caps;    
}

div {
    border: 2px solid black;
}
td {
    text-align: center;
}

.basis-50 {
    flex-basis: 50%;
}
.basis-34 {
    flex-basis: 34%;
}
.basis-66 {
    flex-basis: 66%;
}
.basis-100 {
    flex-basis: 100%;
}

.flex-direction-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.rune-font {
    font-family: "rune"!important;
    font-size: 2em;
}

@font-face {
    font-family: rune;
    src: url('../fonts/GloranthaCoreRunes1.5.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.arrow1::after {
    /* little make up */
    font-size: 2em;
    /* whatever needed*/
    padding: 0 0.5em;
    /* whatever needed*/
    vertical-align: -0.1em;
    /* whatever needed*/
    content: '\21fe';
    display:inline-block;
    transform:scale(2,1);
    transform:rotate(180deg)
}

.arrow2::after {
    content: '\2192';
    /* little make up */
    font-size: 2em;
    /* whatever needed*/
    padding: 0 0.5em;
    /* whatever needed*/
    vertical-align: -0.1em;
    /* whatever needed*/
    content: '\21fe';
    display:inline-block;
    transform:scale(2,1);
}
